.render-pair-input-text, .render-pair-select, .render-pair-input-password, .render-pair-date-picker {
  margin-bottom: 10px;
  span:nth-child(1) {
    margin-right: 10px;
    text-align: left;
  }
  input, select {
    padding-left: 5px;
    height: 25px;
    line-height: 25px;
    width: 150px;
  }
  input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
  }
}

//单选项
.render-pair-check-group, .render-pair-text {
  margin-bottom: 10px;
  span:nth-child(1) {
    margin-right: 10px;
    text-align: left;
  }
}

.render-pair-text-area {
  margin-bottom: 10px;
  span:nth-child(1) {
    vertical-align: top;
    margin-right: 10px;
    text-align: left;
  }
  textarea {
    width: 150px;
  }
}