.video-con {
  padding: 0px 15px;
  //新增视频课件按钮
  .btn-add {
    float: right;
    margin: 10px 0px;
  }
  //新增课件modal
  .video-modal-add {
    .modal-body {
      text-align: left;
      margin-left: 185px;
      .render-pair-input-text, .render-pair-select {
        span:nth-child(1) {
          width: 60px;
          display: inline-block;
        }
      }
    }
  }
}