.category-con {
  padding: 0px 15px;
  //新增课程一级体系按钮
  .btn-add {
    float: right;
    margin: 10px 0px;
  }
  //编辑课程二级体系modal框
  .two-cate-modal{
    .render-pair-input-text{
      display: inline-block;
      margin: 15px 20px 0px 0px;
    }
    .btn-add-two-cate{
      padding: 2px 10px;
      vertical-align: bottom;
    }
  }
}
